<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016196679267-fntns8t07otc74p4mjrh5h2pk8lnvjfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016196679267-fntns8t07otc74p4mjrh5h2pk8lnvjfu</string>
	<key>API_KEY</key>
	<string>AIzaSyCp6dYBhUWOLDGPD3DheRoLZwlOumAGyOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1016196679267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zimbocharades</string>
	<key>PROJECT_ID</key>
	<string>zimbo-charades</string>
	<key>STORAGE_BUCKET</key>
	<string>zimbo-charades.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016196679267:ios:0d25314fc8c1a7e8c4da56</string>
	<key>DATABASE_URL</key>
	<string>https://zimbo-charades.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8844670004607379~3887636945</string>
</dict>
</plist>